<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
	<div class="overflow-hidden">
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6" v-if="customerData != null">
					<div class="col-span-12 md:col-span-6">
						<label for="firstname" class="text-sm font-medium text-gray-900 block mb-2">First Name</label>
					    <input type="text" name="firstname" id="firstname" v-model="customerData.user.firstname"
						class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" disabled>
					</div>
                    <div class="col-span-12 md:col-span-6">
						<label for="lastname" class="text-sm font-medium text-gray-900 block mb-2">Last Name</label>
					    <input type="text" name="lastname" id="lastname" v-model="customerData.user.lastname"
						class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" disabled>
					</div>
                    <div class="col-span-12">
						<label for="email" class="text-sm font-medium text-gray-900 block mb-2">Email</label>
					    <input type="text" name="email" id="email" v-model="customerData.user.email"
						class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" disabled>
					</div>
                    <div class="col-span-12">
						<label for="email" class="text-sm font-medium text-gray-900 block mb-2">Username</label>
					    <input type="text" name="email" id="email" v-model="customerData.user.email"
						class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" disabled>
					</div>
                    <div class="col-span-12 md:col-span-6">
						<label for="country" class="text-sm font-medium text-gray-900 block mb-2">Country</label>
					    <input type="text" name="country" id="country" value="N/A"
						class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" disabled>
					</div>
                    <div class="col-span-12 md:col-span-6">
						<label for="city" class="text-sm font-medium text-gray-900 block mb-2">City</label>
					    <input type="text" name="city" id="city" value="N/A"
						class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" disabled>
					</div>
                    <div class="col-span-12">
						<label for="company" class="text-sm font-medium text-gray-900 block mb-2">Company</label>
					    <input type="text" name="company" id="company" value="N/A"
						class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed, onMounted, ref } from 'vue'

const store = useStore()
const customerData = computed(() => store.state.customerData)

</script>