<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
	<div class="overflow-hidden">
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-6 pb-3">
                        <div role="listitem" class="bg-gray-50 hover:bg-gray-100 shadow rounded-lg p-8 relative z-30">
                            <div class="md:flex items-center justify-between">
                                <h2 class="text-lg font-semibold leading-6 text-gray-800">Password</h2>
                                <p class="text-lg font-semibold md:mt-0 mt-4 leading-6 text-blue-700 cursor-pointer">Reset Password</p>
                            </div>
                            <p class="md:w-80 text-base leading-6 mt-4 text-gray-600">A password recovery link will send under this account.</p>
                        </div>
                    </div>
                    <div class="col-span-6 pb-3">
                        <div role="listitem" class="bg-gray-50 hover:bg-gray-100 shadow rounded-lg p-8 relative z-30">
                            <div class="md:flex items-center justify-between">
                                <h2 class="text-lg font-semibold leading-6 text-gray-800">Customer Account</h2>
                                <p class="text-lg font-semibold md:mt-0 mt-4 leading-6 text-blue-700 cursor-pointer">Account Recovery</p>
                            </div>
                            <p class="md:w-80 text-base leading-6 mt-4 text-gray-600">Recover your account using your email address.</p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed, onMounted, ref } from 'vue'

const store = useStore()
const customerData = computed(() => store.state.customerData)

</script>