<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
	<div class="overflow-hidden">
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-6 pb-3">
                        <h1>Subscription</h1>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed, onMounted, ref } from 'vue'

const store = useStore()
const customerData = computed(() => store.state.customerData)

</script>