<template>
    <div class="hidden py-12 transition duration-150 ease-in-out z-20 absolute top-0 right-0 bottom-0 left-0" id="modal" ref="modal" style="background: rgba(0, 0, 0, 0.7)">
        <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg flex justify-center">
            <div class="relative w-11/12  bg-white dark:bg-gray-800 shadow pt-10 pb-8 rounded">
                <div class="flex flex-col items-center px-4 md:px-6">
					<p class="text-3xl"><i class="fa-solid fa-fingerprint"></i></p>
                    <p class="text-base sm:text-lg md:text-2xl font-bold md:leading-6 mt-6 text-gray-800 text-center dark:text-gray-100">Add New Access</p>
                    <p class="text-xs sm:text-sm leading-5 mt-2 sm:mt-4 text-center text-gray-600 dark:text-gray-300">This will add new access to the support team</p>
                    <!-- <div class="flex items-center mt-4 sm:mt-6 w-full">
                        <div class="bg-gray-50 border rounded border-gray-200 dark:border-gray-700 dark:bg-gray-700 w-full">
                            <input class="w-full focus:outline-none pl-4 py-3 text-sm leading-none text-gray-600 dark:text-gray-100 bg-transparent placeholder-gray-600 dark:placeholder-gray-100" placeholder="Enter your email" />
                        </div>
                        <button class="px-3 py-3 bg-indigo-700 dark:bg-indigo-600 focus:outline-none hover:bg-opacity-80 ml-2 rounded">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.62163 7.76261C1.18663 7.61761 1.18247 7.38345 1.62997 7.23428L17.5358 1.93261C17.9766 1.78595 18.2291 2.03262 18.1058 2.46428L13.5608 18.3693C13.4358 18.8101 13.1816 18.8251 12.995 18.4068L9.99997 11.6668L15 5.00011L8.3333 10.0001L1.62163 7.76261Z" fill="white" />
                            </svg>
                        </button>
                    </div> -->
					<div class="mt-4 w-full">
						<label for="email" class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal mb-3">Category</label>
						<v-select :options="['User', 'Group']"></v-select>
					</div>
					<div class="mt-4 w-full">
						<label for="email" class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal mb-3">User</label>
						<v-select :options="users" :reduce="user => user.id" label="name"></v-select>
					</div>

					<div class="text-center mt-9">
						<button @click="modalHandler(ralse)" role="button" aria-label="close modal" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 px-6 py-3 bg-gray-600 hover:bg-gray-500 shadow rounded text-sm text-white mr-3 uppercase">Cancel</button>
						<button role="button" aria-label="select" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 px-6 py-3 bg-indigo-700 hover:bg-opacity-80 shadow rounded text-sm text-white uppercase">Submit</button>
					</div>
                </div>
                <div class="cursor-pointer absolute top-0 right-0 m-3 text-gray-800 dark:text-gray-100 transition duration-150 ease-in-out" @click="modalHandler(ralse)">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Close" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <line x1="18" y1="6" x2="6" y2="18" />
                        <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, computed, onMounted } from 'vue'
import { useStore } from 'vuex'
import useEmitter from '@/composables/useEmitter'

const store = useStore()
const emitter = useEmitter()

const customers = computed(() => store.state.customers)
const users = ref([])
const show = ref(false)
const modal = ref(null)

function modalHandler(val) {
	let my_modal = modal.value;
	if (val) {
		fadeIn(my_modal);
	} else {
		fadeOut(my_modal);
	}
}

function fadeOut(el) {
	el.style.opacity = 1;
	(function fade() {
		if ((el.style.opacity -= 0.1) < 0) {
		el.style.display = "none";
		} else {
		requestAnimationFrame(fade);
		}
	})();
}

function fadeIn(el, display) {
	el.style.opacity = 0;
	el.style.display = display || "block";
	(function fade() {
		let val = parseFloat(el.style.opacity);
		if (!((val += 0.2) > 1)) {
		el.style.opacity = val;
		requestAnimationFrame(fade);
		}
	})();
}

onMounted(() => {
	emitter.on('toggle-add-access-modal', type => {
		modalHandler(type)
	});

	customers.value.forEach(item => {
		users.value.push({
			id: item.id,
			name: item.user.first_name +' '+ item.user.last_name
		})
	});
})

</script>

<style>
.checkbox:checked + .check-icon {
  display: flex;
}
</style>