<template>
    <div class="hidden py-12 transition duration-150 ease-in-out z-20 absolute top-0 right-0 bottom-0 left-0" id="authenticateCustomerModal" style="background: rgba(0, 0, 0, 0.7)">
        <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg flex justify-center">
            <div class="relative w-11/12  bg-white dark:bg-gray-800 shadow pt-10 pb-8 rounded">
                <div class="flex flex-col items-center px-4 md:px-6">
                    <div v-if="authenticationType == 'otp'">
                        <p class="text-3xl text-center"><i class="fas fa-lock"></i></p>
                        <p class="text-base sm:text-lg md:text-2xl font-bold md:leading-6 mt-4 text-gray-800 text-center dark:text-gray-100">Verify account using OTP</p>
                        <p class="text-xs sm:text-sm leading-5 mt-2 sm:mt-4 text-center text-gray-600 dark:text-gray-300">An email with OTP code has been sent to <b>{{ customerToAuthenticatePayload.email }}</b></p>
                        <div class="mt-4 w-full text-center">
                            <label class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal mb-3">Enter OTP code here <button @click="resetOTP()" class="ml-2 text-sm text-gray-400 hover:text-gray-500"><i class="fas fa-undo"></i></button></label>
                            <div id="otp" class="flex flex-row justify-center text-center px-2"> 
                                <input class="m-2 border border-gray-300 h-10 w-10 text-center form-control rounded" type="text" maxlength="1" v-model="otpCode1" id="refOTPCode1" /> 
                                <input class="m-2 border border-gray-300 h-10 w-10 text-center form-control rounded" type="text" maxlength="1" v-model="otpCode2" id="refOTPCode2" /> 
                                <input class="m-2 border border-gray-300 h-10 w-10 text-center form-control rounded" type="text" maxlength="1" v-model="otpCode3" id="refOTPCode3" /> 
                                <input class="m-2 border border-gray-300 h-10 w-10 text-center form-control rounded" type="text" maxlength="1" v-model="otpCode4" id="refOTPCode4" /> 
                                <input class="m-2 border border-gray-300 h-10 w-10 text-center form-control rounded" type="text" maxlength="1" v-model="otpCode5" id="refOTPCode5" /> 
                                <input class="m-2 border border-gray-300 h-10 w-10 text-center form-control rounded" type="text" maxlength="1" v-model="otpCode6" id="refOTPCode6" /> 
                            </div>
                            <button class="text-gray-500 dark:text-gray-100 text-sm font-light"><i class="fas fa-paper-plane"></i> Resend OTP</button>
                            <br>
                            <button @click="toggleMethod('customer_id')" class="mt-5 text-blue-500 text-normal font-bold"><i class="fas fa-user-lock"></i> Use Customer ID</button>
                        </div>
                    </div>
                    <div v-if="authenticationType == 'customer_id'">
                        <p class="text-3xl text-center"><i class="fas fa-user-lock"></i></p>
                        <p class="text-base sm:text-lg md:text-2xl font-bold md:leading-6 mt-4 text-gray-800 text-center dark:text-gray-100">Verify account using customer id</p>
                        <p class="text-xs sm:text-sm leading-5 mt-2 sm:mt-4 text-center text-gray-600 dark:text-gray-300">Please input customer id of <b>{{ customerToAuthenticatePayload.email }}</b></p>
                        <div class="mt-4 w-full">
                            <label class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal mb-3">Enter Customer ID</label>
                            <input type="text" id="customer-id" class="bg-white border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block w-full py-2 px-2.5" placeholder="Customer ID" v-model="customerID">
                        </div>
                        <br>
                        <div class="text-center">
                            <button @click="toggleMethod('otp')" class="mt-3 text-blue-500 text-normal font-bold"><i class="fas fa-lock"></i> Use OTP</button>
                        </div>
                    </div>

					<div class="text-center mt-6" v-if="!isAuthenticating">
						<button @click="cancelAuthenticate()" role="button" aria-label="close modal" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 px-6 py-3 bg-gray-600 hover:bg-gray-500 shadow rounded text-sm text-white mr-3 uppercase">Cancel</button>
						<button @click="authenticateCustomer()" role="button" aria-label="search" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600 px-6 py-3 bg-blue-700 hover:bg-opacity-80 shadow rounded text-sm text-white uppercase">Submit</button>
					</div>
                    <div class="text-center mt-6" v-else>
                        <button type="button" class="inline-flex items-center px-4 py-2.5 font-semibold leading-6 text-sm shadow rounded text-white bg-blue-700 hover:bg-opacity-80 transition ease-in-out duration-150 cursor-not-allowed uppercase" disabled="">
                            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                            Authenticating...
                        </button>
                    </div>
                </div>
                <div class="cursor-pointer absolute top-0 right-0 m-3 text-gray-800 dark:text-gray-100 transition duration-150 ease-in-out" @click="cancelAuthenticate()">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Close" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <line x1="18" y1="6" x2="6" y2="18" />
                        <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, computed, onMounted, watch, nextTick } from 'vue'
import { useStore } from 'vuex'
import useEmitter from '@/composables/useEmitter'

const store = useStore()
const emitter = useEmitter()

const isAuthenticating = ref(false)
const authenticationType = ref('otp')
const cardTypes = computed(() => store.state.cardTypes)

const customerList = computed(() => store.state.customerList)

const apiServer = computed(() => store.state.apiServer)
const customerToAuthenticatePayload = computed(() => store.state.customerToAuthenticatePayload)
const customerEmail = computed({
    get() { return store.state.customerToAuthenticatePayload.email },
    set(newValue) { store.commit('UDPATE_CUSTOMER_TO_AUTHENTICATE_PAYLOAD', { email: newValue }) }
})
const customerID = computed({
    get() { return store.state.customerToAuthenticatePayload.customerID },
    set(newValue) { store.commit('UDPATE_CUSTOMER_TO_AUTHENTICATE_PAYLOAD', { customerID: newValue }) }
})
const customerOTP = computed({
    get() { return store.state.customerToAuthenticatePayload.otp },
    set(newValue) { store.commit('UDPATE_CUSTOMER_TO_AUTHENTICATE_PAYLOAD', { otp: newValue }) }
})
const otpCode1 = ref(null)
const otpCode2 = ref(null)
const otpCode3 = ref(null)
const otpCode4 = ref(null)
const otpCode5 = ref(null)
const otpCode6 = ref(null)

function modalHandler(val) {
    var my_modal = document.getElementById('authenticateCustomerModal')
	if (val) {
		fadeIn(my_modal);
	} else {
		fadeOut(my_modal);
	}
}

function fadeOut(el) {
	el.style.opacity = 1;
	(function fade() {
		if ((el.style.opacity -= 0.1) < 0) {
		el.style.display = "none";
		} else {
		requestAnimationFrame(fade);
		}
	})();
}

function fadeIn(el, display) {
	el.style.opacity = 0;
	el.style.display = display || "block";
	(function fade() {
		let val = parseFloat(el.style.opacity);
		if (!((val += 0.2) > 1)) {
		el.style.opacity = val;
		requestAnimationFrame(fade);
		}
	})();
}

function toggleMethod(method) {
    authenticationType.value = method
}

function resetOTP() {
    otpCode1.value = null
    otpCode2.value = null
    otpCode3.value = null
    otpCode4.value = null
    otpCode5.value = null
    otpCode6.value = null

    customerOTP.value = null
    if(authenticationType.value == 'otp') {
        document.getElementById('refOTPCode1').focus()
    }
    authenticationType.value = 'otp'
}

function cancelAuthenticate() {
    modalHandler(false)
    store.commit('UDPATE_CUSTOMER_TO_AUTHENTICATE_PAYLOAD', { 
        email: null, 
		otp: null,
		customerID: null
    })
    resetOTP()
}

function authenticateCustomer() {
     switch(authenticationType.value) {
        case 'otp':
            if(customerOTP.value && customerOTP.value.length == 6) {
                isAuthenticating.value = true
                setTimeout(() => {
                    redirectToCustomerPage()
                }, 3000);
            } else {
                if(otpCode1.value == null || otpCode1.value == '') {
                    document.getElementById('refOTPCode1').focus()
                } else if(otpCode2.value == null || otpCode2.value == '') {
                    document.getElementById('refOTPCode2').focus()
                } else if(otpCode3.value == null || otpCode3.value == '') {
                    document.getElementById('refOTPCode3').focus()
                } else if(otpCode4.value == null || otpCode4.value == '') {
                    document.getElementById('refOTPCode4').focus()
                } else if(otpCode5.value == null || otpCode5.value == '') {
                    document.getElementById('refOTPCode5').focus()
                } else {
                    document.getElementById('refOTPCode6').focus()
                }
                store.commit('SET_TOAST', {
                    type: 'error',
                    title: 'Please enter OTP'
                })
            }
            break;
        case 'customer_id':
            if(customerID.value != null) {
                isAuthenticating.value = true
                setTimeout(() => {
                    redirectToCustomerPage()
                }, 3000);
            } else {
                document.getElementById('customer-id').focus()
                store.commit('SET_TOAST', {
                    type: 'error',
                    title: 'Please enter customer ID'
                })
            }
            break;
    }
}

function redirectToCustomerPage() {
    // Authenticate
    isAuthenticating.value = false
    
    store.commit('SET_TOAST', {
        type: 'success',
        title: 'Customer Authenticated'
    })

    customerList.value.map((item) => {
        if(item.user.email == customerEmail.value) {
            const data = JSON.parse(JSON.stringify(item))
            console.log(data)
            store.commit('UPDATE_CUSTOMER_DATA', data)
            nextTick(() => {
                emitter.emit('view-customer-data')
                cancelAuthenticate()
            })
        }
    })
}

onMounted(() => {
	emitter.on('toggle-authenticate-customer-modal', type => {
		modalHandler(type)
        nextTick(() => {
            document.getElementById('refOTPCode1').focus()
        })
	})
})

watch([otpCode1, otpCode2, otpCode3, otpCode4, otpCode5, otpCode6], ([new1, new2, new3, new4, new5, new6]) => {
    var custOTP = (new1 != null && new1 != '' ? new1 : '') + '' + (new2 != null && new2 != '' ? new2 : '') + '' + (new3 != null && new3 != '' ? new3 : '') + '' + (new4 != null && new4 != '' ? new4 : '') + '' + (new5 != null && new5 != '' ? new5 : '') + '' + (new6 != null && new6 != '' ? new6 : '')
    customerOTP.value = custOTP
})

watch(otpCode1, (new1) => {
    if((new1 != null && new1 != '') && (otpCode2.value == null || otpCode2.value == '')) {
        document.getElementById('refOTPCode2').focus()
    }
})

watch(otpCode2, (new2) => {
    if((new2 != null && new2 != '') && (otpCode3.value == null || otpCode3.value == '')) {
        document.getElementById('refOTPCode3').focus()
    }
})

watch(otpCode3, (new3) => {
    if((new3 != null && new3 != '') && (otpCode4.value == null || otpCode4.value == '')) {
        document.getElementById('refOTPCode4').focus()
    }
})

watch(otpCode4, (new4) => {
    if((new4 != null && new4 != '') && (otpCode5.value == null || otpCode5.value == '')) {
        document.getElementById('refOTPCode5').focus()
    }
})

watch(otpCode5, (new5) => {
    if((new5 != null && new5 != '') && (otpCode6.value == null || otpCode6.value == '')) {
        document.getElementById('refOTPCode6').focus()
    }
})

</script>

<style>
.checkbox:checked + .check-icon {
  display: flex;
}
</style>