<template>
    <div class="hidden py-12 transition duration-150 ease-in-out z-20 absolute top-0 right-0 bottom-0 left-0" id="searchCustomerModal" style="background: rgba(0, 0, 0, 0.7)">
        <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg flex justify-center">
            <div class="relative w-11/12  bg-white dark:bg-gray-800 shadow pt-10 pb-8 rounded">
                <div class="flex flex-col items-center px-4 md:px-6">
					<p class="text-3xl"><i class="fas fa-search"></i></p>
                    <p class="text-base sm:text-lg md:text-2xl font-bold md:leading-6 mt-4 text-gray-800 text-center dark:text-gray-100">Search Customer</p>
                    <p class="text-xs sm:text-sm leading-5 mt-2 sm:mt-4 text-center text-gray-600 dark:text-gray-300">Enter email or the last 4 digit of customer card</p>

					<div class="mt-4 w-full">
						<label for="email" class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal mb-3">Email</label>
						<input type="text" name="username" id="username" class="bg-white border border-gray-300 text-gray-900 rounded focus:ring-blue-500 focus:border-blue-500 block w-full py-2 px-2.5" placeholder="Customer Email" v-model="customerEmail">
					</div>
					<div class="mt-4 w-full">
						<label for="card-type" class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal mb-3">Select Card Type</label>
						<v-select :clearable="false" :options="cardTypes" :reduce="cardTypes => cardTypes.value" label="label" v-model="customerCardType"></v-select>
					</div>
                    <div class="mt-4 w-full text-center">
						<label for="last-4-digit" class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal mb-3">Enter Last 4 Digit <button @click="reset4Digit()" class="ml-2 text-sm text-gray-400 hover:text-gray-500"><i class="fas fa-undo"></i></button></label>
						<div id="last4digit" class="flex flex-row justify-center text-center px-2"> 
                            <input class="m-2 border border-gray-300 h-10 w-10 text-center form-control rounded" type="text" maxlength="1" v-model="cardDigit1" id="refCardDigit1" /> 
                            <input class="m-2 border border-gray-300 h-10 w-10 text-center form-control rounded" type="text" maxlength="1" v-model="cardDigit2" id="refCardDigit2" /> 
                            <input class="m-2 border border-gray-300 h-10 w-10 text-center form-control rounded" type="text" maxlength="1" v-model="cardDigit3" id="refCardDigit3" /> 
                            <input class="m-2 border border-gray-300 h-10 w-10 text-center form-control rounded" type="text" maxlength="1" v-model="cardDigit4" id="refCardDigit4" /> 
                        </div>
					</div>

					<div class="text-center mt-6" v-if="!isSearching">
						<button @click="cancelSearch()" role="button" aria-label="close modal" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 px-6 py-3 bg-gray-600 hover:bg-gray-500 shadow rounded text-sm text-white mr-3 uppercase">Cancel</button>
						<button @click="searchCustomer()" role="button" aria-label="search" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600 px-6 py-3 bg-blue-700 hover:bg-opacity-80 shadow rounded text-sm text-white uppercase">Search</button>
					</div>
                    <div class="text-center mt-6" v-else>
                        <button type="button" class="inline-flex items-center px-4 py-2.5 font-semibold leading-6 text-sm shadow rounded text-white bg-blue-700 hover:bg-opacity-80 transition ease-in-out duration-150 cursor-not-allowed uppercase" disabled="">
                            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                            Searching...
                        </button>
                    </div>
                </div>
                <div class="cursor-pointer absolute top-0 right-0 m-3 text-gray-800 dark:text-gray-100 transition duration-150 ease-in-out" @click="cancelSearch()">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Close" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <line x1="18" y1="6" x2="6" y2="18" />
                        <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, computed, onMounted, watch, onBeforeUnmount, nextTick } from 'vue'
import { useStore } from 'vuex'
import useEmitter from '@/composables/useEmitter'

const store = useStore()
const emitter = useEmitter()

const isSearching = ref(false)
const searchCustomerModal = ref(null)
const showSearchCustomerModal = ref(false)
const cardTypes = computed(() => store.state.cardTypes)

const apiServer = computed(() => store.state.apiServer)
const searchCustomerPayload = computed(() => store.state.searchCustomerPayload)
const customerEmail = computed({
    get() { return store.state.searchCustomerPayload.email },
    set(newValue) { store.commit('UPDATE_CUSTOMER_SEARCH_PAYLOAD', { email: newValue }) }
})
const customerCardType = computed({
    get() { return store.state.searchCustomerPayload.type },
    set(newValue) { store.commit('UPDATE_CUSTOMER_SEARCH_PAYLOAD', { type: newValue }) }
})
const customerLast4Digit = computed({
    get() { return store.state.searchCustomerPayload.last4 },
    set(newValue) { store.commit('UPDATE_CUSTOMER_SEARCH_PAYLOAD', { last4: newValue }) }
})
const cardDigit1 = ref(null)
const cardDigit2 = ref(null)
const cardDigit3 = ref(null)
const cardDigit4 = ref(null)

function modalHandler(val) {
    var my_modal = document.getElementById('searchCustomerModal')
	if (val) {
		fadeIn(my_modal);
	} else {
		fadeOut(my_modal);
	}
}

function fadeOut(el) {
	el.style.opacity = 1;
	(function fade() {
		if ((el.style.opacity -= 0.1) < 0) {
		el.style.display = "none";
		} else {
		requestAnimationFrame(fade);
		}
	})();
}

function fadeIn(el, display) {
	el.style.opacity = 0;
	el.style.display = display || "block";
	(function fade() {
		let val = parseFloat(el.style.opacity);
		if (!((val += 0.2) > 1)) {
		el.style.opacity = val;
		requestAnimationFrame(fade);
		}
	})();
}

function reset4Digit() {
    cardDigit1.value = null
    cardDigit2.value = null
    cardDigit3.value = null
    cardDigit4.value = null

    customerLast4Digit.value = null
    document.getElementById('refCardDigit1').focus()
}

function cancelSearch() {
    modalHandler(false)
    store.commit('UPDATE_CUSTOMER_SEARCH_PAYLOAD', { 
        email: null, 
		last4: null,
		type: 'visa' 
    })
    reset4Digit()
}

function searchCustomer() {
    // Check required fields
    if(customerLast4Digit.value && customerLast4Digit.value.length == 4) {
        // console.log('valid')
        // store.commit('SET_TOAST', {
        //     type: 'success',
        //     title: 'Searching Customer'
        // })
        isSearching.value = true

        store.dispatch('getCustomerList', {
            api: apiServer.value,
            data: searchCustomerPayload.value
        })
        .then((response) => {
            isSearching.value = false
            if(response.data && !response.data._isError) {
                if(response.data.data.length > 0) {
                    cancelSearch()
                    store.commit('UPDATE_CUSTOMER_LIST', response.data.data)
                    emitter.emit('draw-customer-list-table') 
                } else {
                    store.commit('SET_TOAST', {
                        type: 'info',
                        title: 'No customer found'
                    })
                }
            } else {
                store.commit('SET_TOAST', {
                    type: 'error',
                    title: response.data.reason
                })
            }
        })
    } else {
        if(cardDigit1.value == null || cardDigit1.value == '') {
            document.getElementById('refCardDigit1').focus()
        } else if(cardDigit2.value == null || cardDigit2.value == '') {
            document.getElementById('refCardDigit2').focus()
        } else if(cardDigit3.value == null || cardDigit3.value == '') {
            document.getElementById('refCardDigit3').focus()
        } else {
            document.getElementById('refCardDigit4').focus()
        }

        store.commit('SET_TOAST', {
            type: 'error',
            title: 'Please enter last 4 digit'
        })
    }
}

onMounted(() => {
	emitter.on('toggle-search-customer-modal', type => {
		modalHandler(type)
        nextTick(() => {
            document.getElementById('refCardDigit1').focus()
        })
	})
})

// onBeforeUnmount(() => {
//     showSearchCustomerModal.value = false
// })

watch([cardDigit1, cardDigit2, cardDigit3, cardDigit4], ([new1, new2, new3, new4]) => {
    var last4Digit = (new1 != null && new1 != '' ? new1 : '') + '' + (new2 != null && new2 != '' ? new2 : '') + '' + (new3 != null && new3 != '' ? new3 : '') + '' + (new4 != null && new4 != '' ? new4 : '')
    // store.commit('UPDATE_CUSTOMER_SEARCH_PAYLOAD', { last4: last4Digit })
    customerLast4Digit.value = last4Digit
})

watch(cardDigit1, (new1) => {
    if((new1 != null && new1 != '') && (cardDigit2.value == null || cardDigit2.value == '')) {
        document.getElementById('refCardDigit2').focus()
    }
})

watch(cardDigit2, (new2) => {
    if((new2 != null && new2 != '') && (cardDigit3.value == null || cardDigit3.value == '')) {
        document.getElementById('refCardDigit3').focus()
    }
})

watch(cardDigit3, (new3) => {
    if((new3 != null && new3 != '') && (cardDigit4.value == null || cardDigit4.value == '')) {
        document.getElementById('refCardDigit4').focus()
    }
})

</script>

<style>
.checkbox:checked + .check-icon {
  display: flex;
}

.vs__dropdown-toggle {
    padding: 5px 2px 9px;
}
</style>