<template>
  <h2>Doughnut Chart</h2>
  <div style="max-width: 400px">
    <vue3-chart-js v-bind="{ ...doughnutChart }" />
  </div>
</template>

<script setup>
import Vue3ChartJs from "@j-t-mcc/vue3-chartjs";

const doughnutChart = {
    type: "doughnut",
    data: {
    labels: ["VueJs", "EmberJs", "ReactJs", "AngularJs"],
    datasets: [
        {
        backgroundColor: ["#42b4d0", "#fab425", "#ea3f39", "#2a5497"],
        data: [40, 20, 80, 10],
        },
    ],
    },
};
</script>
