<template>
  <h2>Line Chart</h2>
  <vue3-chart-js v-bind="{ ...lineChart }" />
</template>

<script setup>
import Vue3ChartJs from "@j-t-mcc/vue3-chartjs";

const lineChart = {
      type: "line",
      data: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
        ],
        datasets: [
          {
            label: "Caffine Consumption",
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: "#41B883",
            backgroundColor: "black",
          },
          {
            label: "Productivity",
            data: [70, 25, 110, 90, 5, 60, 30],
            fill: false,
            borderColor: "#00D8FF",
            tension: 0.5,
            backgroundColor: "blue",
          },
        ],
      },
      options: {
        plugins: {
          zoom: {
            zoom: {
              wheel: {
                enabled: true,
              },
              pinch: {
                enabled: true,
              },
              mode: "y",
            },
          },
          datalabels: {
            backgroundColor: function (context) {
              return context.dataset.backgroundColor;
            },
            borderRadius: 4,
            color: "white",
            font: {
              weight: "bold",
            },
            formatter: Math.round,
            padding: 6,
          },
        },
      },
};
</script>
