<template>
  <h2>Radar Chart</h2>
  <div style="max-width: 600px">
    <vue3-chart-js v-bind="{ ...barChart }" />
  </div>
</template>

<script setup>
import Vue3ChartJs from "@j-t-mcc/vue3-chartjs";

const barChart = {
      type: "radar",
      options: {
        min: 0,
        max: 100,
        responsive: true,
        plugins: {
          legend: {
            position: "top",
          },
        },
        scales: {
          y: {
            min: -100,
            max: 100,
            ticks: {
              callback: function (value) {
                return `${value}%`;
              },
            },
          },
        },
      },
      data: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
        ],
        datasets: [
          {
            label: "Skip first dataset",
            data: [
              null,
              78.59825103,
              8.49108368,
              40.75017147,
              95.12860082,
              43.23131001,
              19.62620027,
            ],
            borderColor: "rgb(255, 99, 132)",
            backgroundColor: "rgba(255, 99, 132, 0.5)",
          },
          {
            label: "Skip mid dataset",
            data: [
              99.62191358,
              43.71227709,
              8.68741427,
              null,
              43.26731824,
              41.26714678,
              5.83076132,
            ],
            borderColor: "rgb(54, 162, 235)",
            backgroundColor: "rgba(54, 162, 235, 0.5)",
          },
          {
            label: "Skip last dataset",
            data: [
              75.2297668,
              50.69873114,
              74.21296296,
              72.9329561,
              70.31550069,
              63.89146091,
              null,
            ],
            borderColor: "rgb(75, 192, 192)",
            backgroundColor: "rgba(75, 192, 192, 0.5)",
          },
        ],
      },
    };
</script>
