<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

	<div class="overflow-hidden">
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 rounded-md">
						<div class="">
							<div class="sm:hidden relative w-11/12 mx-auto rounded-t-md">
								<div class="absolute inset-0 m-auto mr-4 z-0 w-6 h-6">
									<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" />
										<polyline points="8 9 12 5 16 9" />
										<polyline points="16 15 12 19 8 15" />
									</svg>
								</div>
								<select aria-label="Selected tab" class="form-select block w-full p-3 border border-gray-300 rounded text-gray-400 appearance-none bg-transparent relative z-10">
									<option class="text-sm text-gray-400">Users</option>
									<option class="text-sm text-gray-400">Groups</option>
									<option class="text-sm text-gray-400">Admins</option>
									<option class="text-sm text-gray-400">Suspended</option>
									<option class="text-sm text-gray-400">Suspended Groups</option>
								</select>
							</div>
							<div class="xl:w-full xl:mx-0 h-12 hidden sm:flex bg-gray-50 shadow">
								<ul class="flex flex-1 px-5">
									<li @click="makeActiveTab($event, 1)" class="text-sm text-gray-900 flex flex-col justify-between border-gray-800 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-users"></i> Users</span>
										<div class="w-full h-1 bg-gray-900"></div>
									</li>
									<li @click="makeActiveTab($event, 2)" class="text-sm text-gray-400 flex flex-col justify-between border-gray-800 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-users-gear"></i> Groups</span>
										<div class="w-full h-1 bg-gray-900 hidden"></div>
									</li>
									<li @click="makeActiveTab($event, 3)" class="text-sm text-gray-400 flex flex-col justify-between border-gray-800 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-user-shield"></i> Admins</span>
										<div class="w-full h-1 bg-gray-900 hidden"></div>
									</li>
									<li @click="makeActiveTab($event, 4)" class="text-sm text-gray-400 flex flex-col justify-between border-gray-800 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-user-injured"></i> Suspended</span>
										<div class="w-full h-1 bg-gray-900 hidden"></div>
									</li>
									<li @click="makeActiveTab($event, 5)" class="text-sm text-gray-400 flex flex-col justify-between border-gray-800 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-users-slash"></i> Suspended Groups</span>
										<div class="w-full h-1 bg-gray-900 hidden"></div>
									</li>
								</ul>
								<div class="flex items-center">
									<button type="button" class="uppercase text-white bg-blue-700 hover:bg-blue-800 border border-gray-700 font-medium rounded-md text-sm p-1.5 px-3 mr-2" @click="addNewAccess()">
										<i class="fa-solid fa-plus"></i> New Access
									</button>
								</div>
							</div>
						</div>
						<div class="w-full bg-white rounded-b-md">
							<div v-show="activeTab == 1">
								<users/>
							</div>
							<div v-show="activeTab == 2">
								<groups/>
							</div>
							<div v-show="activeTab == 3">
								<admins/>
							</div>
							<div v-show="activeTab == 4">
								<suspended/>
							</div>
							<div v-show="activeTab == 5">
								<suspended-groups/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<AddAccessModal/>
</template>

<script setup>
import { useStore } from 'vuex'
import { ref, computed, onMounted } from 'vue'
import useEmitter from '@/composables/useEmitter'
import Users from './access/Users.vue'
import Admins from './access/Admins.vue'
import Groups from './access/Groups.vue'
import Suspended from './access/Suspended.vue'
import SuspendedGroups from './access/SuspendedGroups.vue'
import AddAccessModal from '@/components/modals/AddAccessModal.vue'

const store = useStore()
const emitter = useEmitter()

const activeTab = ref(1)
const activeTabHeading = ref('Users')

function makeActiveTab(event, tab) {
	let siblings = event.currentTarget.parentNode.querySelectorAll("li");
	for (let item of siblings) {
		// item.children[0].innerHTML = "Inactive";
		item.children[1].classList.add("hidden");
		item.classList.add("text-gray-400");
		item.classList.remove("text-gray-900");
	}
	// event.currentTarget.children[0].innerHTML = "Active";
	event.currentTarget.children[1].classList.remove("hidden");
	event.currentTarget.classList.remove("text-gray-400");
	event.currentTarget.classList.add("text-gray-900");

	activeTab.value = tab;

	switch(tab) {
		case 2:
			activeTabHeading.value = 'Groups'
			break;
		case 3:
			activeTabHeading.value = 'Admins'
			break;
		case 4:
			activeTabHeading.value = 'Suspended'
			break;
		case 5:
			activeTabHeading.value = 'Suspended Group'
			break;
		default:
			activeTabHeading.value = 'Users'
			break;
	}

	emitter.emit('set-sub-heading-1', activeTabHeading.value)
}

function addNewAccess() {
	emitter.emit('toggle-add-access-modal', true)
}

</script>