<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

	<div class="overflow-hidden">
		<div class="flex items-center mb-5 text-lg">
			<icon-admin-utility :style="'w-6 h-6 text-gray-800 transition duration-75 dark:text-gray-400 group-hover:text-blue-800 dark:group-hover:text-white'"/>
			<span class="ml-3 mr-2">Admin Utility</span> > {{ activeTabHeading }}  > {{ (activeTab == 1)? activeTabSubHeading1 : activeTabSubHeading2 }}
		</div>
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 rounded-md">
						<div class="">
							<div class="sm:hidden relative w-11/12 mx-auto rounded-t-md">
								<div class="absolute inset-0 m-auto mr-4 z-0 w-6 h-6">
									<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" />
										<polyline points="8 9 12 5 16 9" />
										<polyline points="16 15 12 19 8 15" />
									</svg>
								</div>
								<select aria-label="Selected tab" class="form-select block w-full p-3 border border-gray-300 rounded text-gray-600 appearance-none bg-transparent relative z-10">
									<option class="text-sm text-gray-600">Access</option>
									<option class="text-sm text-gray-600">App Settings</option>
								</select>
							</div>
							<div class="xl:w-full xl:mx-0 h-12 hidden sm:block bg-blue-100 rounded-t-md shadow">
								<ul class="flex border-b px-5">
									<li @click="makeActiveTab($event, 1)" class="text-sm text-indigo-700 flex flex-col justify-between border-indigo-700 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"> <i class="fa-solid fa-fingerprint"></i> Access</span>
										<div class="w-full h-1 bg-indigo-700"></div>
									</li>
									<li @click="makeActiveTab($event, 2)" class="text-sm text-gray-600 flex flex-col justify-between border-indigo-700 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-gear"></i> App Settings</span>
										<div class="w-full h-1 bg-indigo-700 hidden"></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="w-full bg-white rounded-b-md">
							<div v-show="activeTab == 1">
								<access/>
							</div>
							<div v-show="activeTab == 2">
								<app-settings/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { ref, computed, onMounted, nextTick } from 'vue'
import useEmitter from '@/composables/useEmitter'
import IconAdminUtility from '@/components/icons/IconAdminUtility.vue'
import Access from './admin-utility/Access.vue'
import AppSettings from './admin-utility/AppSettings.vue'

const store = useStore()
const emitter = useEmitter()

const userList = computed(() => store.state.userList)
const countUsers = computed({
    get() { return store.state.userList.length }
})
const activeTab = ref(1)
const activeTabHeading = ref('Access')
const activeTabSubHeading1 = ref('Users')
const activeTabSubHeading2 = ref('Version Slider')

function makeActiveTab(event, tab) {
	let siblings = event.currentTarget.parentNode.querySelectorAll("li");
	for (let item of siblings) {
		// item.children[0].innerHTML = "Inactive";
		item.children[1].classList.add("hidden");
		item.classList.add("text-gray-600");
		item.classList.remove("text-indigo-700");
	}
	// event.currentTarget.children[0].innerHTML = "Active";
	event.currentTarget.children[1].classList.remove("hidden");
	event.currentTarget.classList.remove("text-gray-600");
	event.currentTarget.classList.add("text-indigo-700");

	activeTab.value = tab;

	switch(tab) {
		case 2:
			activeTabHeading.value = 'App Settings'
			break;
		default:
			activeTabHeading.value = 'Access'
			break;
	}
}

onMounted(() => {
    emitter.on('set-sub-heading-1', (sub_heading) => {
        activeTabSubHeading1.value = sub_heading
    })

	emitter.on('set-sub-heading-2', (sub_heading) => {
        activeTabSubHeading2.value = sub_heading
    })

	store.dispatch('getUserList')
	.then((response) => {
		if(response.data) {
			var list = []
			var users = JSON.parse(JSON.stringify(response.data))

			store.commit('UPDATE_USER_LIST', response.data)
			// users.each((item) => {
			// 	list.push({
			// 		id: item.group_id,
			// 		name: item.groupName
			// 	})
			// })
			// console.log(users.length)
			// store.commit('UPDATE_GROUP_LIST', list)

			// nextTick(() => {
			// 	var userssss = JSON.parse(JSON.stringify(userList.value))
			// 	// userssss.map((item) => {
			// 	// 	list.push({
			// 	// 		id: item.group_id,
			// 	// 		name: item.groupName
			// 	// 	})
			// 	// })
			// 	console.log(countUsers.value)
			// })
		}
	})
})

</script>