<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

	<div class="overflow-hidden">
		<div class="flex items-center py-2 text-lg">
			<icon-dashboard :style="'w-6 h-6 text-gray-800 transition duration-75 dark:text-gray-400 group-hover:text-blue-800 dark:group-hover:text-white'"/>
			<span class="ml-3">Dashboard</span>
		</div>
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-6 bg-white shadow p-4 rounded-md">
						<h2>Statistics</h2>
					</div>
					<div class="col-span-6 bg-white shadow p-4 rounded-md">
						<h2></h2>
					</div>
				</div>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 bg-white shadow p-4 rounded-md">
						<h2>Daily Log Report</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed } from 'vue'

import IconDashboard from '@/components/icons/IconDashboard.vue'

const store = useStore()

</script>