<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

	<div class="overflow-hidden">
		<div class="flex items-center py-2 text-lg">
			<icon-user-journey :style="'w-6 h-6 text-gray-800 transition duration-75 dark:text-gray-400 group-hover:text-blue-800 dark:group-hover:text-white'"/>
			<span class="ml-3">User Journey</span>
		</div>
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 bg-white shadow p-4 rounded-md">
						<h2>User Report</h2>
						<br>
						<PieChart/>
						<hr>
						<DoughnutChart/>
						<hr>
						<BarChart/>
						<hr>
						<RadarChart/>
						<hr>
						<LineChart/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed } from 'vue'

import IconUserJourney from '@/components/icons/IconUserJourney.vue'
import PieChart from '@/components/charts/PieChart.vue'
import DoughnutChart from '@/components/charts/DoughnutChart.vue'
import BarChart from '@/components/charts/BarChart.vue'
import RadarChart from '@/components/charts/RadarChart.vue'
import LineChart from '@/components/charts/LineChart.vue'

const store = useStore()

</script>