<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

	<div class="overflow-hidden">
		<div class="flex items-center mb-5 text-lg">
			<icon-user-management :style="'w-6 h-6 text-gray-800 transition duration-75 dark:text-gray-400 group-hover:text-blue-800 dark:group-hover:text-white'"/>
			<span class="ml-3 mr-2">User Management</span> > {{ activeTabHeading }}
		</div>
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 rounded-md">
						<div class="">
							<div class="sm:hidden relative w-11/12 mx-auto rounded-t-md">
								<div class="absolute inset-0 m-auto mr-4 z-0 w-6 h-6">
									<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" />
										<polyline points="8 9 12 5 16 9" />
										<polyline points="16 15 12 19 8 15" />
									</svg>
								</div>
								<select aria-label="Selected tab" class="form-select block w-full p-3 border border-gray-300 rounded text-gray-600 appearance-none bg-transparent relative z-10">
									<option class="text-sm text-gray-600">Customer List</option>
									<option class="text-sm text-gray-600">Escalations</option>
									<option class="text-sm text-gray-600" v-if="customerData">{{ customerData.user.email }}</option>
								</select>
							</div>
							<div class="xl:mx-0 h-12 hidden sm:flex bg-blue-100 rounded-t-md shadow">
								<ul class="flex flex-1 border-b px-5">
									<li @click="makeActiveTab($event, 1)" class="text-sm text-indigo-700 flex flex-col justify-between border-indigo-700 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-user-group"></i> Customer List</span>
										<div class="w-full h-1 bg-indigo-700"></div>
									</li>
									<li @click="makeActiveTab($event, 2)" class="text-sm text-gray-600 flex flex-col justify-between border-indigo-700 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-scale-unbalanced"></i> Escalations</span>
										<div class="w-full h-1 bg-indigo-700 hidden"></div>
									</li>
									<li v-if="customerData != null" @click="makeActiveTab($event, 3)" class="text-sm text-gray-600 flex flex-col justify-between border-indigo-700 pt-3 rounded-t mr-8 font-normal cursor-pointer" id="viewCustomerDataTab">
										<span class="mb-3"><i class="fa-solid fa-user"></i> {{ customerData.user.email }} </span>
										<div class="w-full h-1 bg-indigo-700 hidden"></div>
									</li>
								</ul>
								<div class="flex items-center" v-show="activeTab == 1">
									<button type="button" class="uppercase text-white bg-blue-700 hover:bg-blue-800 border border-gray-700 font-medium rounded-md text-sm p-1.5 px-3 mr-2" @click="searchCustomerData()">
										<i class="fas fa-search"></i> Search
									</button>
								</div>
							</div>
						</div>
						<div class="w-full bg-white rounded-b-md">
							<div v-show="activeTab == 1">
								<search-customer/>
							</div>
							<div v-show="activeTab == 2">
								<escalation/>
							</div>
							<div v-show="activeTab == 3">
								<customers/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<SearchCustomerModal/>
<AuthenticateCustomerModal/>
</template>

<script setup>
import { useStore } from 'vuex'
import { ref, computed, onMounted } from 'vue'
import useEmitter from '@/composables/useEmitter'
import IconUserManagement from '@/components/icons/IconUserManagement.vue'
import Customers from './user-management/Customer.vue'
import Escalation from './user-management/Escalation.vue'
import SearchCustomer from './user-management/SearchCustomer.vue'
import SearchCustomerModal from '@/components/modals/SearchCustomerModal.vue'
import AuthenticateCustomerModal from '@/components/modals/AuthenticateCustomerModal.vue'

const store = useStore()
const emitter = useEmitter()

const activeTab = ref(1)
const activeTabHeading = ref('Customer List')
const customerData = computed(() => store.state.customerData)

function makeActiveTab(event, tab) {
	let siblings = event.currentTarget.parentNode.querySelectorAll("li");
	for (let item of siblings) {
		// item.children[0].innerHTML = "Inactive";
		item.children[1].classList.add("hidden");
		item.classList.add("text-gray-600");
		item.classList.remove("text-indigo-700");
	}
	// event.currentTarget.children[0].innerHTML = "Active";
	event.currentTarget.children[1].classList.remove("hidden");
	event.currentTarget.classList.remove("text-gray-600");
	event.currentTarget.classList.add("text-indigo-700");

	activeTab.value = tab;

	switch(tab) {
		case 2:
			activeTabHeading.value = 'Escalation List'
			break;
		case 3:
			activeTabHeading.value = customerData.value.user.email
			break;
		default:
			activeTabHeading.value = 'Customer List'
			break;
	}
}

function searchCustomerData() {
	emitter.emit('toggle-search-customer-modal', true)
}

onMounted(() => {
	emitter.on('view-customer-data', () => {
		document.getElementById('viewCustomerDataTab').click()
	})
})

</script>