<template>
<div class="w-full h-full bg-gray-800 bg-opacity-90 top-0 overflow-y-auto overflow-x-hidden fixed sticky-0 z-20" id="chec-div" ref="chec" v-show="isNotificationsPanelOpen">
	<div class=" w-full absolute z-10 right-0 h-full overflow-x-hidden transform translate-x-0 transition ease-in-out duration-700" id="notification" ref="notification">
		<div class="2xl:w-4/12 bg-gray-50 h-screen overflow-y-auto p-8 absolute right-0 ">
			<div class="flex items-center justify-between">
				<p tabindex="0" class="focus:outline-none text-2xl font-semibold leading-6 text-gray-800 ">
					Notifications
				</p>
				<button role="button" aria-label="close modal" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md cursor-pointer" @click="notificationHandler(false)">
					<svg
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M18 6L6 18"
							stroke="#4B5563"
							stroke-width="1.25"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						<path
							d="M6 6L18 18"
							stroke="#4B5563"
							stroke-width="1.25"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</button>
			</div>

			<div class="w-full p-3 mt-8 bg-white rounded flex">
				<p>Notifications List Here</p>
			</div>
			
		</div>
	</div>
</div>
</template>

<script>
export default {
	name: "Notifications",
	data() {
		return {
			show: false,
		};
	},
	computed: {
		isNotificationsPanelOpen () {
			return this.$store.state.isNotificationsPanelOpen
		}
	},
	methods: {
		notificationHandler(flag) {
			// let notification = this.$refs.notification;
			// let checdiv = this.$refs.chec;
			// // let flag = false;
			// if (!flag) {
			// 	notification.classList.add("translate-x-full");
			// 	notification.classList.remove("translate-x-0");
			// 	setTimeout(function () {
			// 	checdiv.classList.add("hidden");
			// 	}, 1000);
			// 	flag = true;
			// } else {
			// 	setTimeout(function () {
			// 	notification.classList.remove("translate-x-full");
			// 	notification.classList.add("translate-x-0");
			// 	}, 1000);
			// 	checdiv.classList.remove("hidden");
			// 	flag = false;
			// }

			this.$store.commit('TOGGLE_NOTIFICATION_PANNEL', !this.isNotificationsPanelOpen)
		},
	},
	mounted() { 
		this.emitter.on('toggle-notification', flag => {
			// console.log(flag)
			this.notificationHandler()
		});
	}
};
</script>