<template>
<!-- Backdrop -->
<div
	v-show="isSearchPanelOpen"
	@click="openSearchPanel()"
	class="fixed inset-0 z-10 bg-blue-400"
	style="opacity: 0.5"
	aria-hidden="ture"
></div>
<!-- Panel -->
<Transition
	name="custom-classes"
	enter-active-class="animate__animated animate__slideInRight"
	leave-active-class="animate__animated animate__bounceOutRight"
>
<section
	v-show="isSearchPanelOpen"
	class="fixed inset-y-0 right-0 z-20 w-full max-w-xs bg-white shadow-xl dark:bg-darker dark:text-light sm:max-w-md focus:outline-none"
>
	<div class="absolute left-0 p-2 transform -translate-x-full">
		<!-- Close button -->
		<button @click="openSearchPanel()" class="p-2 text-blue-900 rounded-md focus:outline-none focus:ring">
			<svg
				class="w-5 h-5"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
			>
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
			</svg>
		</button>
	</div>

	<h2 class="sr-only">Search panel</h2>
	<!-- Panel content -->
	<div class="flex flex-col h-screen">
		<!-- Panel header (Search input) -->
		<div
			class="relative flex-shrink-0 px-4 py-8 text-gray-400 border-b dark:border-primary-darker dark:focus-within:text-light focus-within:text-gray-700"
		>
			<span class="absolute inset-y-0 inline-flex items-center px-4">
				<svg
					class="w-5 h-5"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
				>
					<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
					/>
				</svg>
			</span>
			<input
				x-ref="searchInput"
				type="text"
				class="w-full py-2 pl-10 pr-4 border rounded-full dark:bg-dark dark:border-transparent dark:text-light focus:outline-none focus:ring"
				placeholder="Search..."
			/>
		</div>

		<!-- Panel content (Search result) -->
		<div class="flex-1 px-4 pb-4 space-y-4 overflow-y-hidden h hover:overflow-y-auto">
			<!-- {{-- <h3 class="py-2 text-sm font-semibold text-gray-600 dark:text-light">History</h3> --}} -->
			<!-- {{-- <a href="#" class="flex space-x-4">
			<div class="flex-shrink-0">
				<img class="w-10 h-10 rounded-lg" src="{{ asset('images/cover.jpg') }}" alt="Post cover" />
			</div>
			<div class="flex-1 max-w-xs overflow-hidden">
				<h4 class="text-sm font-semibold text-gray-600 dark:text-light">Header</h4>
				<p class="text-sm font-normal text-gray-400 truncate dark:text-blue-500">
				Lorem ipsum dolor, sit amet consectetur.
				</p>
				<span class="text-sm font-normal text-gray-400 dark:text-blue-500-light"> Post </span>
			</div>
			</a>
			<a href="#" class="flex space-x-4">
			<div class="flex-shrink-0">
				<img class="w-10 h-10 rounded-lg" src="{{ asset('images/avatar.jpg') }}" alt="Ahmed Kamel" />
			</div>
			<div class="flex-1 max-w-xs overflow-hidden">
				<h4 class="text-sm font-semibold text-gray-600 dark:text-light">Ahmed Kamel</h4>
				<p class="text-sm font-normal text-gray-400 truncate dark:text-blue-500">
				Last activity 3h ago.
				</p>
				<span class="text-sm font-normal text-gray-400 dark:text-blue-500-light"> Offline </span>
			</div>
			</a>
			<a href="#" class="flex space-x-4">
			<div class="flex-shrink-0">
				<img class="w-10 h-10 rounded-lg" src="{{ asset('images/cover-2.jpg') }}" alt="K-WD Dashboard" />
			</div>
			<div class="flex-1 max-w-xs overflow-hidden">
				<h4 class="text-sm font-semibold text-gray-600 dark:text-light">K-WD Dashboard</h4>
				<p class="text-sm font-normal text-gray-400 truncate dark:text-blue-500">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				</p>
				<span class="text-sm font-normal text-gray-400 dark:text-blue-500-light"> Updated 3h ago. </span>
			</div>
			</a>
			<template x-for="i in 10" x-key="i">
			<a href="#" class="flex space-x-4">
				<div class="flex-shrink-0">
				<img class="w-10 h-10 rounded-lg" src="{{ asset('images/cover-3.jpg') }}" alt="K-WD Dashboard" />
				</div>
				<div class="flex-1 max-w-xs overflow-hidden">
				<h4 class="text-sm font-semibold text-gray-600 dark:text-light">K-WD Dashboard</h4>
				<p class="text-sm font-normal text-gray-400 truncate dark:text-blue-500">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				</p>
				<span class="text-sm font-normal text-gray-400 dark:text-blue-500-light"> Updated 3h ago. </span>
				</div>
			</a> --}} -->
			<!-- </template> -->
		</div>
	</div>
</section>
</Transition>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed } from 'vue'

const store = useStore();
const isSearchPanelOpen = computed(() => store.state.isSearchPanelOpen)

function openSearchPanel() {
    store.commit('TOGGLE_SEARCH_PANNEL', !this.isSearchPanelOpen)
}

</script>