<template>
<!-- <div class="flex-shrink-0 hidden md:block border-r w-64 border-gray-100 bg-gray-900 z-20 p-4 transition duration-150 ease-in-out" id="mobile-nav"> -->
<aside class="flex-shrink-0 hidden md:block w-64 border-gray-100 bg-gray-900 z-20 p-4 transition duration-150 ease-in-out" id="mobile-nav">
    <div class="flex justify-start flex-col h-full">
        <div class="mt-2">
            <a href="/" class="flex mb-5">
                <img alt="App Logo" src="../../../assets/logo-csuite.png">
            </a>
        </div>
        <ul class="mt-4 overflow-y-hidden hover:overflow-y-auto">
            <li :class="route.name == 'dashboard' ? active_link : default_link">
                <!-- <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <rect x="4" y="4" width="6" height="6" rx="1"></rect>
                        <rect x="14" y="4" width="6" height="6" rx="1"></rect>
                        <rect x="4" y="14" width="6" height="6" rx="1"></rect>
                        <rect x="14" y="14" width="6" height="6" rx="1"></rect>
                    </svg>
                    <span class="text-sm ml-2">Dashboard</span>
                </div>
                <div class="py-1 px-3 bg-gray-700 rounded text-gray-500 flex items-center justify-center text-xs">5</div> -->

                <router-link :to="{name: 'dashboard'}" class="flex items-center">
                    <icon-dashboard :style="'w-5 h-5 icon icon-tabler icon-tabler-grid'"/>
                    <span class="text-sm ml-2">Dashboard</span>
                </router-link>
            </li>
            <li :class="route.name == 'user_management' ? active_link : default_link">
                <router-link :to="{name: 'user_management'}" class="flex items-center">
                    <icon-user-management :style="'w-5 h-5 icon icon-tabler icon-tabler-grid'"/>
                    <span class="text-sm ml-2">User Management</span>
                </router-link>
            </li>
            <li :class="route.name == 'user_journey' ? active_link : default_link">
                <router-link :to="{name: 'user_journey'}" class="flex items-center">
                    <icon-user-journey :style="'w-5 h-5 icon icon-tabler icon-tabler-grid'"/>
                    <span class="text-sm ml-2">User Journey</span>
                </router-link>
            </li>
            <li :class="route.name == 'admin_utility' ? active_link : default_link">
                <router-link :to="{name: 'admin_utility'}" class="flex items-center">
                    <icon-admin-utility :style="'w-5 h-5 icon icon-tabler icon-tabler-grid'"/>
                    <span class="text-sm ml-2">Admin Utility</span>
                </router-link>
            </li>

            <div class="relative flex mb-6 items-center">
                <div class="flex-grow border-dashed border-t border-gray-400"></div>
            </div>

            <!-- <div class="relative flex py-5 items-center">
                <div class="flex-grow border-t border-gray-400"></div>
                <span class="flex-shrink mx-4 text-gray-400">Content</span>
                <div class="flex-grow border-t border-gray-400"></div>
            </div> -->

            <li :class="default_link">
                <a href="https://hivegroupinc.ladesk.com/467619-Moolahmore-Knowledge-Base" target="_blank" class="flex items-center">
                    <svg class="w-5 h-5 icon icon-tabler icon-tabler-grid" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 14l9-5-9-5-9 5 9 5z"></path><path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path></svg>
                    <span class="text-sm ml-2">Knowledge Base</span>
                </a>
            </li>
            <li :class="default_link">
                <a href="https://moolahmore.com/terms-and-conditions/" target="_blank" class="flex items-center">
                    <svg class="w-5 h-5 icon icon-tabler icon-tabler-grid" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3"></path></svg>
                    <span class="text-sm ml-2">Terms & Condition</span>
                </a>
            </li>
            <li :class="default_link">
                <a href="/" class="flex items-center">
                    <svg class="w-5 h-5 icon icon-tabler icon-tabler-grid" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                    <span class="text-sm ml-2">User Guide</span>
                </a>
            </li>
            <li :class="default_link">
                <button class="flex items-center" @click="logout()">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                    <span class="text-sm ml-2">Logout</span>
                </button>
            </li>
            
        </ul>
    </div>
<!-- </div> -->
</aside>
</template>

<script setup>
import { useStore } from 'vuex'
import { ref, watch } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import useEmitter from '@/composables/useEmitter'

import IconDashboard from '@/components/icons/IconDashboard.vue'
import IconUserManagement from '@/components/icons/IconUserManagement.vue'
import IconAdminUtility from '@/components/icons/IconAdminUtility.vue'
import IconUserJourney from '@/components/icons/IconUserJourney.vue'

const store = useStore()
const route = useRoute()
const router = useRouter()
const emitter = useEmitter()

const link_style = 'flex w-full justify-between cursor-pointer items-center mb-6';
const default_link = link_style + ' text-gray-400 hover:text-gray-500';
const active_link = link_style + ' text-gray-100';

// watch(() => route.name,
//     route_name = route.name
// )

// watch(
//     () => route.params.id,
//     async newId => {
//         userData.value = await fetchUser(newId)
//     }
// )

// watch(() => route.name, () => {
//       console.log(`MyCoolComponent - watch route.name changed to ${route.name}`);
//       // Do something here...

//       route_name = route.name

//     // Optionally you can set immediate: true config for the watcher to run on init
//     }, { immediate: true });
//     // });
function logout() {
    emitter.emit('toggle-logout')
}

</script>
