<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

	<div class="overflow-hidden">
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 bg-white rounded-md">
						<div class="flex justify-center items-center" v-show="loading">
							<spinner/>
						</div>
						<div id="table" class="col-xs-12 table-responsive" v-cloak v-show="!loading">
							<table id="groupListTable" class="display">
								<thead>
									<tr>
										<th class="text-center">ID</th>
										<th class="text-left">Group</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item, index) in groupList" :key="index">
										<td class="text-center">{{ item.id }}</td>
										<td>{{ item.name }}</td>
										<td class="text-center">
											<button type="button" class="flex-1 uppercase text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-normal rounded-md text-xs p-1.5 px-2.5 text-center mr-2 dark:bg-gray-600 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700">
												<i class="fa-regular fa-trash-can"></i> Remove
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed, nextTick, onMounted, ref } from 'vue'

import Spinner from '@/components/Spinner.vue'

const store = useStore()
const groupList = computed(() => store.state.groupList)
const loading = ref(false)

onMounted(() => {
    // userList.value.map((item) => {
	// 	groupList.push({
	// 		id: item.group_id,
	// 		name: item.groupName
	// 	})
	// })

	nextTick(() => {
		drawGroupTable()
	})
})

function drawGroupTable() {
	loading.value = true
	setTimeout(() => {
		$('#groupListTable').DataTable({
			language: {
				searchPlaceholder: "Group"
			},
			autoWidth: false,
			columns: [
				{ "width": "15%" },
				{ "width": "60%" },
				{ "width": "25%" },
			],
			columnDefs: [
				{ orderable: false, targets: [2] }
			],
		})
		loading.value = false
	}, 1000)
}
</script>