<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

	<div class="overflow-hidden">
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 bg-white rounded-md">
						<div class="flex justify-center items-center" v-show="loading">
							<spinner/>
						</div>
						<div id="table" class="col-xs-12 table-responsive" v-cloak v-show="!loading">
							<table id="suspendedListTable" class="display">
								<thead>
									<tr>
										<th class="text-center">#</th>
										<th class="text-left">Name</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item, index) in customers" :key="index">
										<td class="text-center">{{ index + 1 }}</td>
										<td>{{ item.user.first_name + ' ' +  item.user.last_name }}</td>
										<td class="text-center">
											<button type="button" class="flex-1 uppercase text-white bg-gray-800 hover:bg-gray-700 border border-gray-700 font-normal rounded-md text-xs p-1.5 px-4 text-center mr-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-700">
												<i class="fa-solid fa-arrow-rotate-left"></i> Restore User
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed, onMounted, ref } from 'vue'

import Spinner from '@/components/Spinner.vue'

const store = useStore()
const customers = computed(() => store.state.customers)
const loading = ref(false)

onMounted(() => {
    store.dispatch('getCustomers')
	.then(() => {
		drawCustomersTable()
	})
})

function drawCustomersTable() {
	loading.value = true
	setTimeout(() => {
		$('#suspendedListTable').DataTable({
			language: {
				searchPlaceholder: "User"
			},
			autoWidth: false,
			columns: [
				{ "width": "15%" },
				{ "width": "60%" },
				{ "width": "25%" },
			],
			columnDefs: [
				{ orderable: false, targets: [2] }
			],
		})
		loading.value = false
	}, 1000)
}
</script>