<template>
<Teleport to="head">
	<title>{{ metaTitle }} | MoolahMore Management</title>
</Teleport>
<div class="min-h-screen" v-if="isAuthenticated">
	<div class="flex flex-no-wrap bg-gray-100 h-screen antialiased ">
		<!-- Sidebar starts -->
		<Sidebar/>
		<!-- Sidebar ends -->
		<div class="w-full h-full overflow-x-hidden overflow-y-auto">
			<!-- Navigation starts -->
			<Navbar/>
			<!-- Navigation ends -->
			<!-- <div class="relative py-6 lg:py-8">
				<img class="z-0 w-full h-full absolute inset-0 object-cover" :src="background" alt="bg" />
				<div class="z-10 relative container px-6 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between">
					<div>
						<h4 class="text-2xl font-bold leading-tight text-white">Dashboard</h4>
					</div>
				</div>
			</div> -->
			<div class="container mx-auto py-4 w-full p-1 lg:px-6">
				<div class="w-full h-full">
					<!-- Place your content here -->
					<RouterView />
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="min-h-screen mx-auto bg-gray-900 flex flex-col justify-center items-center px-6 pt-8 pt:mt-0"  v-else>
	<main>
		<RouterView />
	</main>
</div>
<Notifications/>
<Toast/>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed, ref, watch, onMounted } from 'vue'
import { RouterLink, RouterView, useRoute, useRouter } from 'vue-router'

import Sidebar from '@/components/layouts/dashboard/Sidebar.vue'
import Navbar from '@/components/layouts/dashboard/Navbar.vue'
import Notifications from '@/components/layouts/dashboard/pannels/Notifications.vue'
import Search from '@/components/layouts/dashboard/pannels/Search.vue'
import Toast from '@/components/Toast.vue'

const store = useStore()
const route = useRoute()
const router = useRouter()

const isAuthenticated = computed(() => store.state.isAuthenticated)
const metaTitle = route.meta.metaTitle
const user = computed(() => store.state.user)

const background = "https://tuk-cdn.s3.amazonaws.com/assets/webapp/common/bg_image_dark.png"

// const isNotificationsPanelOpen = computed(() => store.state.isNotificationsPanelOpen);

// useMeta({
// 	title: route.meta.metaTitle,
// 	titleTemplate: '%s | MoolahMore Management',
// 	htmlAttrs: { lang: 'en', amp: true }
// })

// watch(isNotificationsPanelOpen, (currentValue, oldValue) => {
// 	console.log(currentValue);
// 	console.log(oldValue);
// });

// setTimeout(() => {
//     $('#toast_sample').click() 
// }, 5000)

// onMounted(() => {
// 	if(isAuthenticated.value) {
// 		store.dispatch('getCustomerList', user.value)
// 		.then((response) => {
// 			console.log(response)
// 		})
// 	}
// })
</script>