@tailwind base;
@tailwind components;
@tailwind utilities;

.dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input {
    border: none !important;
}
.dataTables_wrapper .dataTables_filter input {
    border-bottom: 1px solid gray !important;
    border-radius: unset !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 6px;
}