<template>
<div class="mx-auto flex flex-col justify-center items-center px-6 pt-8 pt:mt-0">
	<a href="/" class="flex pl-2.5 justify-center items-center mb-8 lg:mb-10">
		<img alt="App Logo" src="../../assets/logo-csuite.png" class="h-20">
	</a>
	<div class="bg-white shadow rounded lg:flex items-center justify-center md:mt-0 w-full lg:max-w-screen-lg 2xl:max:max-w-screen-lg xl:p-0">
		<div class="hidden lg:flex w-2/3">
			<!-- <img class="rounded-l-lg" src="../../assets/FAQ_About01.png" alt="login image"> -->
			<img class="rounded-l-md" src="https://flowbite.com/application-ui/demo/images/authentication/login.jpg" alt="login image">
		</div>
		<div class="w-full p-6 sm:p-8 lg:p-16 lg:py-0 space-y-8">
			<div class="flex">
				<h2 class="text-2xl lg:text-3xl font-bold text-gray-900 mr-3">
					Sign in to
				</h2>
				<select name="region" id="region" v-model="region" class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
					<option :value="'US'">US</option>
					<option :value="'APAC'">APAC</option>
				</select>
			</div>
			<form class="mt-8 space-y-6" action="#">
				<div>
					<label for="username" class="text-sm font-medium text-gray-900 block mb-2">Username</label>
					<input type="text" name="username" id="username" v-model="username"
						class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
				</div>
				<div class="flex flex-col">
					<label for="password" class="text-sm font-medium text-gray-900 block mb-2">Password</label>
					<div class="relative">
						<div class="absolute text-blue-600 dark:text-gray-400 flex items-center pl-4 h-full cursor-pointer inset-y-0 right-0">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-4" viewBox="0 0 20 20" fill="currentColor" v-if="showPassword" @click="showPassword = !showPassword">
								<path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
								<path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
							</svg>
							<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-4" viewBox="0 0 20 20" fill="currentColor" v-else @click="showPassword = !showPassword">
								<path fill-rule="evenodd" d="M3.707 2.293a1 1 0 00-1.414 1.414l14 14a1 1 0 001.414-1.414l-1.473-1.473A10.014 10.014 0 0019.542 10C18.268 5.943 14.478 3 10 3a9.958 9.958 0 00-4.512 1.074l-1.78-1.781zm4.261 4.26l1.514 1.515a2.003 2.003 0 012.45 2.45l1.514 1.514a4 4 0 00-5.478-5.478z" clip-rule="evenodd" />
								<path d="M12.454 16.697L9.75 13.992a4 4 0 01-3.742-3.741L2.335 6.578A9.98 9.98 0 00.458 10c1.274 4.057 5.065 7 9.542 7 .847 0 1.669-.105 2.454-.303z" />
							</svg>
						</div>
						<input :type="showPassword ? 'text' : 'password'" name="password" id="password" v-model="password" v-on:keyup.enter="login()"
						class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						required>
					</div>
				</div>
				<div class="flex items-start">
					<div class="flex items-center h-5">
						<input id="remember" aria-describedby="remember" name="remember" type="checkbox"
							class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded" required>
					</div>
					<div class="text-sm ml-3">
						<label for="remember" class="font-medium text-gray-900">Remember me</label>
					</div>
					<a href="#" class="text-sm text-blue-700 hover:underline ml-auto">Lost Password?</a>
				</div>
				
				<button 
					type="button"
					class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-base px-4 py-2.5 w-full sm:w-auto text-center"
					@click.prevent="login()"
					v-if="!loading"
				>
				Login to your account
				</button>
				<button type="button" class="inline-flex items-center px-4 py-2.5 font-semibold leading-6 text-sm shadow rounded text-white bg-blue-700 hover:bg-opacity-80 transition ease-in-out duration-150 cursor-not-allowed" disabled="" v-else>
					<svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
						<circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
						<path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
					</svg>
					Loading...
				</button>
				<div class="text-sm font-medium text-gray-500" v-if="region == 'US'">
					<p>1.0.0</p>
					<p class="text-bold text-blue-600">API-STAGE: ( US )</p>
				</div>
				<div class="text-sm font-medium text-gray-500" v-if="region == 'APAC'">
					<p>1.0.0</p>
					<p class="text-bold text-blue-600">API-STAGE-APAC: ( APAC )</p>
				</div>
			</form>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed, ref, watch, onMounted } from 'vue'
import { useRouter } from 'vue-router'

const store = useStore()
const router = useRouter()

const loading = ref(false)
const showPassword = ref(false)
const region = ref(null)
const username = ref(null)
const password = ref(null)
const server = computed(() => store.state.apiServer)

function login() {
	if(username.value == null || username.value == '') {
		store.commit('SET_TOAST', {
			type: 'warning',
			title: 'Please enter your username'
		})
		document.getElementById('username').focus()
		return true
	} else if(password.value == null || password.value == '') {
		store.commit('SET_TOAST', {
			type: 'warning',
			title: 'Please enter your password'
		})
		document.getElementById('password').focus()
		return true
	}

	if(username.value != null && password != null) {
		loading.value = true
		store.dispatch('login', {
			username: username.value,
			password: password.value,
			key: getKey(),
			server: server.value
		})
		.then((response) => {
			loading.value = false
			console.log(response)
			if (typeof response.data.data === "object"){
				store.commit('SET_TOAST', {
					type: 'error',
					title: response.data.data.reason
				})
			}
			else if (typeof response.data.data === "boolean"){
				// variable is a boolean
				if(response.data.data){
					let api = {
						api: server.value
					} 
					let user = {
						...response.data.personalInfo,
						...api
					}
					store.commit('SET_USER', user)
					store.commit('UPDATE_IS_AUTHENTICATED', true)
					window.location.href = '/'
				}else{
					localStorage.clear();
					store.commit('SET_TOAST', {
						type: 'error',
						title: 'Invalid Login Credentials'
					})
				}
			} else {
				store.commit('SET_TOAST', {
					type: 'error',
					title: 'Error logging in'
				})
			}
		});
	}
}

function getKey() {
	var a = ''
	for(a; a.length < 40;) a += "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz"[(Math.random() * 60) | 0]
	return a
}

onMounted(() => {
	region.value = 'US'
})

watch(region, (currentValue, oldValue) => {
	store.commit('SET_API_SERVER', currentValue)
})

</script>