<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

	<div class="overflow-hidden">
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 rounded-md">
						<div class="">
							<div class="sm:hidden relative w-11/12 mx-auto rounded-t-md">
								<div class="absolute inset-0 m-auto mr-4 z-0 w-6 h-6">
									<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" />
										<polyline points="8 9 12 5 16 9" />
										<polyline points="16 15 12 19 8 15" />
									</svg>
								</div>
								<select aria-label="Selected tab" class="form-select block w-full p-3 border border-gray-300 rounded text-gray-400 appearance-none bg-transparent relative z-10">
									<option class="text-sm text-gray-400">Search</option>
									<option class="text-sm text-gray-400">Customer Information</option>
									<option class="text-sm text-gray-400">Login Information</option>
									<option class="text-sm text-gray-400">Subscription</option>
									<option class="text-sm text-gray-400">Entity</option>
								</select>
							</div>
							<div class="xl:w-full xl:mx-0 h-12 hidden sm:flex bg-gray-50 shadow">
								<ul class="flex flex-1 px-5">
									<li @click="makeActiveTab($event, 1)" class="text-sm text-gray-900 flex flex-col justify-between border-gray-800 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-user"></i> Customer Information</span>
										<div class="w-full h-1 bg-gray-900"></div>
									</li>
									<li @click="makeActiveTab($event, 2)" class="text-sm text-gray-400 flex flex-col justify-between border-gray-800 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-user-shield"></i> Login Information</span>
										<div class="w-full h-1 bg-gray-900 hidden"></div>
									</li>
									<li @click="makeActiveTab($event, 3)" class="text-sm text-gray-400 flex flex-col justify-between border-gray-800 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-user-injured"></i> Subscription</span>
										<div class="w-full h-1 bg-gray-900 hidden"></div>
									</li>
									<li @click="makeActiveTab($event, 4)" class="text-sm text-gray-400 flex flex-col justify-between border-gray-800 pt-3 rounded-t mr-8 font-normal cursor-pointer">
										<span class="mb-3"><i class="fa-solid fa-user-slash"></i> Entity</span>
										<div class="w-full h-1 bg-gray-900 hidden"></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="w-full bg-white rounded-b-md">
							<div v-show="activeTab == 1">
								<customer-information/>
							</div>
							<div v-show="activeTab == 2">
								<login-information/>
							</div>
							<div v-show="activeTab == 3">
								<subscription/>
							</div>
							<div v-show="activeTab == 4">
								<entity/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { ref, computed, onMounted } from 'vue'
import useEmitter from '@/composables/useEmitter'
import CustomerInformation from './customer/CustomerInformation.vue'
import LoginInformation from './customer/LoginInformation.vue'
import Subscription from './customer/Subscription.vue'
import Entity from './customer/Entity.vue'

const store = useStore()
const emitter = useEmitter()

const activeTab = ref(1)
const activeTabHeading = ref('Customer Information')

function makeActiveTab(event, tab) {
	let siblings = event.currentTarget.parentNode.querySelectorAll("li");
	for (let item of siblings) {
		// item.children[0].innerHTML = "Inactive";
		item.children[1].classList.add("hidden");
		item.classList.add("text-gray-400");
		item.classList.remove("text-gray-900");
	}
	// event.currentTarget.children[0].innerHTML = "Active";
	event.currentTarget.children[1].classList.remove("hidden");
	event.currentTarget.classList.remove("text-gray-400");
	event.currentTarget.classList.add("text-gray-900");

	activeTab.value = tab;

	switch(tab) {
		case 2:
			activeTabHeading.value = 'Login Information'
			break;
		case 3:
			activeTabHeading.value = 'Subscription'
			break;
		case 4:
			activeTabHeading.value = 'Entity'
			break;
		default:
			activeTabHeading.value = 'Customer Information'
			break;
	}

	emitter.emit('set-sub-heading-1', activeTabHeading.value)
}

function addNewAccess() {
	emitter.emit('toggle-add-access-modal', true)
}

</script>