<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
	<div class="overflow-hidden">
		<div class="flex items-center pb-5">
			<svg class="w-8 h-8 text-indigo-900 bg-gray-50" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"></path></svg>
			<select id="issue" class="bg-gray-50 text-indigo-900 text-lg font-medium rounded py-2 px-3 focus:outline-none" v-model="escalationType">
				<option :value="'Open'">Open Issues</option>
				<option :value="'Resolved'">Resolved Issues</option>
			</select>
		</div>
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 bg-white rounded-md">
						<div class="flex justify-center items-center" v-show="loading">
							<spinner/>
						</div>
						<div id="table" class="col-xs-12 table-responsive" v-cloak v-show="!loading">
							<table id="escalationListTable" class="display" style="width:100%">
								<thead>
									<tr>
										<th class="text-center">Ticket ID</th>
										<th class="text-left">Customer Name</th>
										<th class="text-left">Issue</th>
										<th class="text-left">Date</th>
										<th class="text-center" style="width: 30px;">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item, index) in escalations" :key="index">
										<td class="text-center">{{ index + 1 }}</td>
										<td>{{ item.user.first_name + ' ' +  item.user.last_name }}</td>
										<td>{{ item.issue }}</td>
										<td>{{ item.escalationDate }}</td>
										<td class="text-center">
											<button type="button" class="uppercase text-white bg-gray-800 hover:bg-gray-700 border border-gray-700 font-normal rounded-md text-xs p-1.5 px-4 text-center mr-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-700">
												<i class="fa-regular fa-eye"></i> View
											</button>
											<button type="button" class="uppercase text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-normal rounded-md text-xs p-1.5 px-2.5 text-center mr-2 dark:bg-gray-600 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700">
												<i class="fa-solid fa-hammer"></i> Escalate
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed, onMounted, ref, watch } from 'vue'
import Spinner from '@/components/Spinner.vue'

const store = useStore()
const customers = computed(() => store.state.customers)
const escalationType = ref('')
const escalations = ref([])
const loading = ref(false)

onMounted(() => {
    store.dispatch('getEscalations')
    .then(() => {
		escalationType.value = 'Open'
    })
})

function drawEscalationTable() {
	loading.value = true
	setTimeout(() => {
		$('#escalationListTable').DataTable({
			language: {
				searchPlaceholder: "Customer Name"
			},
			autoWidth: false,
			// destroy: true,
			// scrollX: true,
			columns: [
				{ "width": "15%" },
				{ "width": "40%" },
				{ "width": "10%" },
				{ "width": "15%" },
				{ "width": "20%" },
			],
			columnDefs: [
				{ orderable: false, targets: [2,4] }
			],
		})
		loading.value = false
	}, 1000)
}

watch(escalationType, (currentValue, oldValue) => {
	var list = []

	customers.value.map((item) => {
		if(item.issue == currentValue) {
			list.push(item)
		}
	})

	escalations.value = list

	if ($.fn.DataTable.isDataTable('#escalationListTable') ) {
		$('#escalationListTable').DataTable().destroy()
	}

	drawEscalationTable()
})

</script>

<style>
.checkbox:checked {
    /* Apply class right-0 and border-indigo-700*/
    right: 0;
    border-color: #4c51bf;
}
.checkbox:checked + .toggle-label {
    /* Apply class bg-indigo-700 */
    background-color: #4c51bf;
}
</style>