<template>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
	<div class="overflow-hidden">
		<div class="md:grid md:grid-cols-12 md:gap-6">
			<div class="mt-5 md:mt-0 md:col-span-12">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 bg-white rounded-md">
						<div class="flex justify-center items-center" v-show="loading">
							<spinner/>
						</div>
						<div id="table" class="col-xs-12 table-responsive" v-cloak v-show="!loading">
							<table id="customerListTable" class="display" style="width:100%">
								<thead>
									<tr>
										<th class="text-center">#</th>
										<th class="text-left">Customer Name</th>
										<th class="text-left">Email</th>
										<th class="text-center" style="width: 30px;">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item, index) in customers" :key="index">
										<td class="text-center">{{ item.user.loginId}}</td>
										<td>{{ item.user.firstname + ' ' +  item.user.lastname }}</td>
										<td>{{ item.user.email }}</td>
										<td class="text-center">
											<button @click="viewCustomer(item.user)" type="button" class="uppercase text-white bg-gray-800 hover:bg-gray-700 border border-gray-700 font-normal rounded-md text-xs p-1.5 px-4 text-center mr-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-700">
												<i class="fa-regular fa-eye"></i> View
											</button>
											<button type="button" class="uppercase text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-normal rounded-md text-xs p-1.5 px-2.5 text-center mr-2 dark:bg-gray-600 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700">
												<i class="fa-solid fa-hammer"></i> Escalate
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script setup>
import { useStore } from 'vuex'
import { computed, onMounted, ref, watch } from 'vue'
import useEmitter from '@/composables/useEmitter'
import Spinner from '@/components/Spinner.vue'

const store = useStore()
const emitter = useEmitter()

const customers = computed(() => store.state.customerList)
const loading = ref(false)

onMounted(() => {
    drawCustomerListTable()

	emitter.on('draw-customer-list-table', type => {
		drawCustomerListTable()
	})
})

function drawCustomerListTable() {
	if ($.fn.DataTable.isDataTable('#customerListTable') ) {
		$('#customerListTable').DataTable().destroy()
	}

	loading.value = true
	setTimeout(() => {
		$('#customerListTable').DataTable({
			language: {
				searchPlaceholder: "Customer Name"
			},
			autoWidth: false,
			// destroy: true,
			// scrollX: true,
			columns: [
				{ "width": "10%" },
				{ "width": "30%" },
				{ "width": "40%" },
				{ "width": "20%" },
			],
			columnDefs: [
				{ orderable: false, targets: [3] }
			],
		})
		loading.value = false
	}, 1000)
}

function viewCustomer(customer) {
	store.commit('UDPATE_CUSTOMER_TO_AUTHENTICATE_PAYLOAD', customer)
	
	emitter.emit('toggle-authenticate-customer-modal', true)
}
</script>